@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
  overflow-x: hidden;
  
}

html {
  -webkit-text-fill-color: currentColor;
}

* {
  forced-color-adjust: none;
}
