name: Deploy Backend to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup SSH
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.SIHYEONZON }}

      - name: Deploy Backend
        run: |
          ssh -o StrictHostKeyChecking=no ubuntu@54.252.148.65 "
            sudo yum install -y nodejs || true;
            cd ~/Sihyeonzon/server || exit;
            git fetch origin main
            git reset --hard origin/main;
            npm install;
            pm2 restart my-backend || pm2 start server.js --name my-backend;
            pm2 save
          "
