name: Deploy Backend to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup SSH
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.SIHYEONZON }}

      - name: Deploy Backend
        run: |
          ssh -o StrictHostKeyChecking=no ubuntu@54.252.148.65 "
            curl -fsSL https://deb.nodesource.com/setup_20.x | sudo -E bash -
            sudo apt-get install -y nodejs
            sudo npm install -g pm2
            cd ~/Sihyeonzon/server || exit
            git fetch origin main
            git reset --hard origin/main
            npm install
            pm2 restart my-server || pm2 start server.js --name my-server
            pm2 save
          "
